*,
:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
:root {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem !important;
  background: rgba(0, 0, 0, 0.616) !important;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator .calc {
  width: 29.5rem;
  height: 12.5rem;
  margin: 1rem auto;
  border-radius: 1rem;
  color: #fff;
  font-size: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.493);
  border-bottom: .1rem solid rgba(255, 255, 255, 0.692);
}
.calculator .calc input {
  width: 100%;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.493);
  padding: 1.3rem;
  border: 0;
  color: #fff;
}

.calculator {
  width: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.616);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0rem 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.788);
}
ul.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0.1rem auto;
  flex-direction: row-reverse;
}
ul.buttons li {
  width: 70px;
  height: 70px;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
  transition: all ease 800ms;
}
ul.buttons li:hover {
  background: rgba(0, 0, 0, 0.616);
  color: #fff;
  transition: all ease 800ms;
}
ul.buttons li:active {
  background: rgba(182, 83, 177, 0.575);
  color: #fff;
  transition: all ease-in-out 200ms;
}
